<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Impressum</h4>
        <div class="hline-w"></div>
        <p>
        Stefan Walluhn<br/>Talstraße 12<br />06120, Halle<br/>Germany.<br/>
        </p>
      </div>
      <div class="col-md-4">
        <h4>Call for disasters</h4>
        <div class="hline-w"></div>
        <p>Dein Ringen mit schlechtem Code, kruden Architektur-Ideen und absurden Software-Konzepten; Schick dein Desaster an: input[&aelig;t]devopsdisasters.net</p>
      </div>
    </div>
  </div>
</div>
