{% extends "base.html" %}

{% block content_title %}
<h3>#failed</h3>
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-8">
      <p>
      {% block content_image %}
      <img class="img-responsive" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/failed.jpg" />
      {% endblock %}
      </p>
      {% for article in articles_page.object_list %}
      <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
      <div class="article-info">
        <time class="published" datetime="{{ article.date.isoformat() }}">Veröffentlicht: {{ article.locale_date }} </time> |
        <address class="vcard author">Von:
        {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
        </address>
      </div>
      {{ article.summary }}
      <p><a href="{{ SITEURL }}/{{ article.url }}">[weiterlesen]</a></p>
      {% endfor %}
      <div class="spacing"></div>
    </div>
    <div class="col-md-4">
      <h4>Alle Kategorien</h4>
      <div class="hline"></div>
      {% for category, articles in categories %}{% include "includes/category.html" %}{% endfor %}
      <h4>Alle Tags</h4>
      <div class="hline"></div>
      <p>
        {% for tag, articles in tags|sort %}{% include "includes/tag.html" %}{% endfor %}
      </p>
    </div>
  </div>
</div>
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
