{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/pygments.css" />

{% endblock %}

{% block content_title %}
<h3>{{ article.title }}</h3>
{% endblock %}

{% block content %}
<div class="container content">
  <div class="row">
    <div class="col-md-8">
      {% if article.quote %}
      <h3 class="ctitle"><i>"{{ article.quote }}"</i></h3>
      {% endif %}
      <div class="article-info">
        <time class="published" datetime="{{ article.date.isoformat() }}">Veröffentlicht: {{ article.locale_date }} </time> |
        <address class="vcard author">Von:
        {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
        </address>
      </div>

      {{ article.content }}

    </div>
    <div class="col-md-4">
      <h4>Tags</h4>
      <div class="hline"></div>
      <p>
        {% for tag in article.tags %}{% include "includes/tag.html" %}{% endfor %}
      </p>
      <h4>Weitere Kategorien</h4>
      <div class="hline"></div>
      {% for category, articles in categories %}{% include "includes/category.html" %}{% endfor %}
    </div>
  </div>
</div>
<div class="spacing"></div>
{% endblock %}
