{% extends "base.html" %}
{% import "macros/headline.html" as headline with context %}

{% block headline %}
{{ headline.with_image("What could possibly go wrong?") }}
{% endblock headline %}

{% block content %}
<div class="container mtb">
  <div class="row">
    <div class="col-lg-4 offset-lg-1">
      <h4>Abgründe und Gruseligkeiten aus der Operations-Welt</h4>
      <p>Software will nicht nur gebaut, sondern auch betrieben werden. Spätestens, wenn es sich beim Production Environment nicht länger um Wohnzimmerprovider, Standard-Webspace und FTP handelt, wird schnell deutlich, was ein Stück Code wirklich taugt, ob es skaliert, oder ob das, was in der Entwicklungsumgebung noch ganz nett aussah im Betrieb für ernsthafte Schmerzen sorgt. Doch nicht nur die Software selbst hat Grusel-Potential...</p>
    </div>
    <div class="col-lg-3">
      <h4>#failed</h4>
      <div class="hline"></div>
      {% for article in articles %}
      <p>
        <a href="{{ SITEURL }}/{{ article.url }}">
          <i class="fa fa-angle-right"></i>
          {{ article.title }}
        </a>
      </p>
      {% endfor %}
    </div>
    <div class="col-lg-3">
      <h4>Talks</h4>
      <div class="hline"></div>
      <dl>
        <dt>2022-04-26, 11:15 - 12:00</dt>
        <dd>heise devSec - <a href="https://www.heise-devsec.de/supplychain.php">Thementag zu Supply Chain Security</a></dd>
        <dd>Docker: Security-Desaster (und was wir daraus lernen können)</dd>
        <dd><a href="https://docs.google.com/presentation/d/1Lgdw76JZB6FUAFHLH-eCjca24--7jfZulWxtWZAGr5w">Slides (Google)</a></dd>
        <dt>2020-12-29, 22:30 - 23:30</dt>
        <dd>rc3 - ChaosZone TV</dd>
        <dd>DevOps Disasters 3.11</dd>
        <dd><a href="https://docs.google.com/presentation/d/1RK69LrGBnqAtklhiuBZZHSdDSDw6Ys1qT0rF2aJKTWI">Slides (Google)</a></dd>
        <dd><a href="https://media.ccc.de/v/rc3-49321-devops_disasters_3_1">Recording</a></dd>
        <dt>2019-12-29, 20:15 - 21:15</dt>
        <dd>36c3 - ChaosZone Stage</dd>
        <dd>DevOps Disasters 2.0</dd>
        <dd><a href="https://docs.google.com/presentation/d/1HOshe105dhMnQ5Bfxz55-i8Qh8UCZcwUZWQpgvU2_a4">Slides (Google)</a></dd>
        <dd><a href="https://www.youtube.com/watch?v=_H-Keya6xB8">Recording (YouTube)</a></dd>
        <dt>2018-12-29, 19:30 - 20:30</dt>
        <dd>35c3 - ChaosZone Stage</dd>
        <dd>DevOps Disasters</dd>
        <dd><a href="https://docs.google.com/presentation/d/1Ekb4EmH9SN9vxwbzi4shCYEK2iGAcKlyz8ydrqtVItE">Slides (Google)</a></dd>
      </dl>
    </div>
  </div>
</div>

{% endblock content %}
